/* Responsive Design */

/* Phone */
@media screen and (min-width:0px) {
    .topnav {
        background-color: #BDDBC9;
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    .main {
        display: grid;
        grid-template-rows: 3fr 1fr;
        row-gap: 0;
        list-style-type: none;
        padding: 10px;
        margin: 0;
    }
       
    .maintwo {
        display: grid;
        grid-template-rows: 3fr 1fr 1fr 3fr;
        row-gap: 0;
        list-style-type: none;
        padding: 10px;
        margin: 0;
    }
    .assignments {
        text-align: left;
        font-family: 'Franklin Gothic';
        font-size: 20pt;
        list-style-type: none;
    }
  }

/*Computer Screen */
@media screen and (min-width:1080px) {
    .topnav {
        background-color: #BDDBC9;
        overflow: hidden;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
    
    .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;     
    }
    
    .maintwo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .assignments {
        text-align: center;
        font-family: 'Franklin Gothic';
        font-size: 34pt;
        list-style-type: none;
    }
  }


/* Navigation Bar */

.topnav a {
    float: left;
    color: #1E2420;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic ATF Thin';
    font-size: 16pt;
}

.topnav a:hover {
    color: #768C7F;
}

.topnav a.active {
    color: #BDDBC9;
}


/* Text */
header {
    font-family: 'Franklin Gothic Heavy';
    font-size: 45pt;
}

h1 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 45pt;
}

h2 {
    font-family: 'Franklin Gothic';
    font-size: 34pt;
}

h3 {
    font-family: 'Franklin Gothic Medium';
    font-size: 26pt;
}

h4 {
    font-family: 'Franklin Gothick Book Cond';
    font-size: 22pt;
}

p {
    font-family: 'Franklin Gothic Book';
    font-size: 14pt;
}


/* Design Elements */
hr {
    border: 8px solid #BDDBC9;
}

.contact {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 26pt;
}

.name {
    font-family: 'Franklin Gothic Medium';
    font-size: 26pt;
    text-align: center;
}

.usuk {
    font-family: 'Franklin Gothic Medium';
    font-size: 26pt;
    text-align: center; 
}

.story {
    font-family: 'Franklin Gothic Book';
    font-size: 14pt;
    text-align: center;
}

button {
    font-family: 'Franklin Gothic Medium';
    font-size: 26pt;
    background-color: #768C7F;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    top: 2px;
    left: 2px;
}

button:hover {
    background-color: #DEF2E7;
    text-align: center; 
}

.button {
    text-align: center;
}

/* Assignment 9 */
.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
    
  }
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
}

.thumb-bar img {
    display: block;
    width: 128px;
    height: 96px;
    float: left;
    cursor: pointer;
}

.aninebody {
    width: 640px;
    margin: 0 auto;
}

.anineh1 {
    font-family: 'Franklin Gothic Heavy';
    font-size: 45pt;
    text-align: center;
}

